* {
  color: white;
  font-family: sans-serif;
}

body {
  background-color: #0d2a30;
}

h1 {
  background-image: url(logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0px;
  height: 194px;
  margin: 4rem auto;
  text-align: center;
  width: 480px;
}

main {
  text-align: center;
}

div.container {
  margin: 2rem auto;
}

a {
  display: inline-block;
  padding: 2rem;
  font-size: 4rem;
  text-align: center;
}

address {
  display: inline-block;
  margin: auto;
  text-align: left;
}

address div {
  margin: 0.5rem;
}
